@use '../../styles/theme-variables.scss' as *;

.actions {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 3em;

  &__link {
    text-decoration: none;
  }

  &__card {
    margin: 0;
    padding: 0.75em;
  }
}

.modal {
  &__pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 0.5em;
  }

  &__description {
    padding: 1em;
    margin-bottom: 1rem;
    @include themify($themes) {
      border: 1px solid themed('primary');
    }
  }

  &__images {
    img {
      margin: 1rem 0;
    }
  }
}
