@use '../../styles/theme-variables.scss' as *;

.profile {
  &__multiselect {
    font-weight: normal;

    @include themify($themes) {
      div {
        background-color: themed('inputBackground');
      }

      span {
        color: themed('colorText');
      }

      label:hover label {
        background-color: themed('inputBackground') !important;
      }
    }
  }
}
