@use '../../../styles/variables.scss' as *;

.list {
  background-color: red;

  &__item {
    font-weight: normal;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(3, min(6.5rem, 100%));
    gap: 0.5em;
    padding: 0.5em 0;
    align-items: center;

    button {
      margin: 0;
      padding: 0.5em;
    }

    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: 1fr;
    }
  }
}
