@use '../../styles/theme-variables.scss' as *;
@use '../../styles/variables.scss' as *;

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  td,
  th {
    padding: 0.5em;
    width: 100%;
    word-wrap: break-word;

    @include themify($themes) {
      border-bottom: 1px solid themed('selected');
    }

    @media (max-width: $breakpoint-mobile) {
      padding: 0.5em 0.1em;
    }
  }

  thead {
    td {
      @include themify($themes) {
        background-color: themed('primary');
      }
    }
  }

  tbody {
    font-weight: normal;

    tr {
      cursor: pointer;
    }
  }
}
