@use '../../styles/theme-variables.scss' as *;

.hidden {
  display: none;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: min(75%, 40rem);
  @include themify($themes) {
    background-color: themed('colorHeaderFooter');
  }

  padding: 2em 0;
  z-index: 99;

  &__link {
    display: block;
    padding: 1em 2em;
    border-bottom: 1px solid #222;
  }

  &__close {
    margin-left: -3.5rem;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    opacity: 0.9;

    @include themify($themes) {
      background-color: themed('colorBackground');
    }
  }
}

.curtain {
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: #222;
  opacity: 0.7;
}
