@use '../../styles/theme-variables.scss' as *;
@use '../../styles/variables.scss' as *;

.header {
  @include themify($themes) {
    background-color: themed('colorHeaderFooter');
  }

  &__content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 2em;
  }

  &__nav {
    margin: 0;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  &__link {
    margin: 0 2em;
    transition: 150ms ease;
    @include themify($themes) {
      color: themed('highlightText');
    }

    &:hover {
      @include themify($themes) {
        color: themed('headerLinks');
      }
    }
  }
}

.controls {
  display: flex;
  align-items: center;

  &__theme {
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  &__theme_btn {
    width: 25px;
    cursor: pointer;
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

.hamburger {
  width: 20px;
  cursor: pointer;
  margin-left: 2rem;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  &__bar {
    height: 3px;
    width: 100%;
    border-radius: 20px;
    @include themify($themes) {
      background-color: themed('highlightText');
    }

    &--middle {
      margin: 0.25rem 0;
    }
  }
}
