@use '../../styles/theme-variables.scss' as *;

.header {
  @include themify($themes) {
    background-color: themed('colorHeaderFooter');
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
  }
}
