@use './theme-variables.scss' as *;

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter-Regular.ttf) format('TrueType');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter-Medium.ttf) format('TrueType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter-Black.ttf) format('TrueType');
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: clamp(1.75rem, 5vw, 2.25rem);
  margin: 0.5em 0 0.75em 0;
}

h2 {
  font-size: clamp(1.25rem, 4vw, 1rem);
  margin: 0 0 0.75em 0;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  @include themify($themes) {
    color: themed('header');
  }
}
