@use '../styles/theme-variables.scss' as *;

.container {
  max-width: 1140px;
  margin: auto;
}

main {
  flex-grow: 1;
}

.bg {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: center;

  @include themify($themes) {
    background-color: themed('colorBackground');
  }
}

.error {
  color: #dc143c !important;
}

.paddingTop {
  margin: 2rem 0;
  height: 1px;
}
