@use '../styles/theme-variables.scss' as *;

.container {
  max-width: 1140px;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 14.5rem - 3px);
}

.bg {
  min-height: 100vh;
  @include themify($themes) {
    background-color: themed('colorBackground');
  }
}

.error {
  color: #dc143c !important;
}

.paddingTop {
  margin: 2rem 0;
  height: 1px;
}
