@use './variables.scss' as *;

$themes: (
  light: (
    colorHeaderFooter: $white,
    colorText: $black,
    highlightText: $slate-gray,
    header: $oxford-blue,
    colorBackground: $athens-gray,
    inputBackground: $catskill-white,
    headerLinks: $oxford-blue,
    links: $cobalt,
    selected: scale-color($catskill-white, $lightness: -15%),
    primary: $casablanca,
    secondary: $cornflower-blue,
  ),
  dark: (
    colorHeaderFooter: $bright-grey,
    colorText: $catskill-white,
    highlightText: $catskill-white,
    header: $catskill-white,
    colorBackground: $ebony-clay,
    inputBackground: $slate-gray,
    headerLinks: $casablanca,
    links: $casablanca,
    selected: scale-color($slate-gray, $lightness: -15%),
    primary: $nevada,
    secondary: $nevada,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
