$cornflower-blue: #5898f5;
$casablanca: #f5b558;
$nevada: #6d6e70;
$bright-grey: #36394c;
$white: #fff;
$black: #000;
$catskill-white: #eff2f7;
$athens-gray: #f8f8fa;
$ebony-clay: #222736;
$slate-gray: #718096;
$oxford-blue: #2d3748;

$primary: $cornflower-blue;
$secondary: $casablanca;
$input-background: $slate-gray;

$breakpoint-tablet: 768px;
